body {
    font-family: "Open Sans", sans-serif;
    font: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

footer#mainFooter {
    background-color:  #002638;
    padding: 65px 0px 0px;
    height:auto; 
}

.containerFooter {
    display:flex;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto 60px !important;

}
.columnFoot {
    width: 100%;
}
 .listFoot {
    margin: 0px 15px 30px;
    line-height: 15px;
    list-style-type: none;
}
.listFoot li {
    margin-bottom: 10px;
}
.listFoot li a {
    color: #8AA2B3;
    font-size: 13px;
    text-decoration: none;
    font-weight: 400; 
}
.listFoot li a:hover {
    color: white;
    text-decoration: underline;
}
.headFoot {
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 15px;

}
.ayoaApproval img {
    margin-right: 10px !important;
    margin-left: 10px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    max-height: 90px;
    transition: ease-in-out 0s;
    opacity: 0.3s;

}
.ayoaApproval {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}
@media only screen and (max-width: 550px) {
    .logosFooter {
        float:left;
        width: 100%;
        margin-left: 0px;
        display: block;
    }
    .footLogo {
        width: 150px;
        float: none;
        border: none;
        border-radius: none;
        margin: 20px auto;
        padding-right: 0;
    }
    .footLogoSt {
        width:150px;
        top: 5px;
        position: relative;
        border-radius: 0px;
        float:none;
        padding-left: 0;
        margin: 0;

    }
    .containerFooter {
        display: flex;
        justify-content: right;
        text-align: left;
        max-width: 1000px;
        margin: 0 auto 60px !important;

        flex-wrap: wrap;
    }

    .columnFoot {
        width: 32%;
    }
    .columnFoot ul {
        padding-left: 22px;
    }
    .ayoaApproval {
        flex-direction: column !important;
    }
}
    .ayoaApproval img:hover {
        opacity: 0.5;
    }
    .bottomFooter {
        width: 100%;
        border-top: 1.5px solid #003149;
        
    }
    .footLogo {
     float: left;
     margin-right: 20px;
     width: 150px;
    border-right: 2px solid #223F4C;
    padding-right: 20px;
    }
    .bottomFooter img {
        margin: 35px auto;
        display: block;
    }
    .footLogoSt {
        width: 150px;
        border-radius: 0px;
        position: relative;
        top: 5px;
        padding-left: 20px;
        float: left;
    }
    .logosFooter {
        margin-left: 50px;
        display: flex;
        float:left;
        
      
    }
    .socialMoov {
        float: right;
        margin-right: 50px;
        margin-bottom: 0;
    }
     .socialMoov li {
        display: inline-block;
        margin-left: 10px;
     }
     @media only screen and (max-width: 350px){
         .columnFoot {
             width: 100%;
             text-align: center;
             text-indent: 0px;

         }
         .columnFoot ul{
             padding-left: 0px;
         }
     }
     @media only screen and (max-width:750px){
         .logosFooter {
             display:flex;
             justify-content: center;
             width: 100%;
             margin: 0;
         }
         .socialMediaLogo {
             display: flex;
             justify-content: center;
             width: 100%;
         }
         .socialMoov {
             display: flex;
             justify-content;
             margin:0;
         }
         .socialMoov {
            float: none;
            margin-left: 0px;
         }
         .bottomFooter img {
             border-radius: 5px;
             margin: 20px auto;
             display: block;
             max-width: 100%
         }
     }
